<div class="lobby-con">
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-info">
                <div class="panel-heading">Team 1</div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        <tr *ngFor="let member of team1.members">
                            <td [class.success]="member.readystatus">{{member.username}}
                                <div *ngIf="member.readystatus == 1" class="glyphicon glyphicon-ok pull-left"></div></td>
                        </tr>
                        <!--<tr>-->
                            <!--<td>cục shit ma thuật</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>cục shit ma thuật</td>-->
                        <!--</tr>-->
                        <!--<tr class="success">-->
                            <!--<td>cục shit ma thuật <div class="glyphicon glyphicon-ok pull-left"></div></td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-2 vs">VS</div>
        <div class="col-sm-5">
            <div class="panel panel-info">
                <div class="panel-heading">Team 2</div>
                <div class="panel-body"><table class="table">
                    <tbody>
                    <tr *ngFor="let member of team2.members">
                        <td [class.success]="member.readystatus">{{member.username}}
                            <div *ngIf="member.readystatus == 1" class="glyphicon glyphicon-ok pull-left"></div></td>
                    </tr>
                    </tbody>
                </table></div>
            </div>
        </div>
    </div>
    <div class="button-con">
        <button type="button" class="btn-lg btn-info" (click)="onChangeTeamClick()">Change Team</button>
        <button type="button" class="btn-lg btn-warning" (click)="onReadyClick()">READY</button>
    </div>
</div>