.clock {
    width: 66px;
    height: 30px;
    background: #2f2f2f;
    display: block;
    margin: 4% auto 0 auto;
    color: #fff;
    text-align: center;
    padding: 8px;
    border: 1px solid #4a4949;
}

.game-content {
    margin: 0 auto;
    width: 1280px;
    height: 640px;
    background: #000;
}

.death-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding-top: 12%;
    font-size: 32px;
}