div, span {
    font-family: "Press Start", Arial, Helvetica, sans-serif;
}

.clock {
    width: 150px;
    height: 32px;
    background: #2f2f2f;
    display: block;
    margin: auto;
    color: #fff;
    text-align: center;
    border: 1px solid #4a4949;
    line-height: 32px;
}

.game-content {
    margin: 0 auto;
    width: 1280px;
    height: 640px;
    background: #000;
}

.death-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding-top: 12%;
    font-size: 32px;
}

.game-info {
    margin: 20px auto 10px auto;
    width: 1280px;
}

.team-left {
    color: #ffffff;
    line-height: 32px;
    text-align: right;
}

.team-right {
    color: #ffffff;
    line-height: 32px;
}

.tank {
    display: inline-block;
}

.tank-img {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.tank1 {
    background: url("./assets/images/tank1.png") center center no-repeat;
}

.tank2 {
    background: url("./assets/images/tank2.png") center center no-repeat;
}

.tank3 {
    background: url("./assets/images/tank3.png") center center no-repeat;
}

.tank-name {
    display: inline-block;
    line-height: 32px;
    vertical-align: top;
}